html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dataTables_wrapper .dataTables_paginate,
.dataTables_length {
    display: none;
}

.pagination .page-link {
    color: black;
}

/*.dataTable {
    width: 100%;*/ /* Set the table width */
    /*table-layout: fixed;*/ /* Prevent automatic column resizing */
/*}*/

.dataTable td {
        padding: 8px; /* Adjust cell padding as needed */
}

.dataTable th{
    text-align: center;
}


